body{
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
}
footer{
    text-align: center;
}

nav{
    background-color: #54bae6;
    color: rgb(0, 0, 0);
    text-align:center;
}
/* stack nav on small screen */
nav{
    display: flex;
    flex-direction: column;
}

nav > a{
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: rgb(20, 72, 204);
}

@media only screen and (min-width:768px) {
   nav{
    flex-direction: row;
   } 
}